@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure smooth scrolling and prevent horizontal overflow */
html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Prevent horizontal scroll */
  width: 100%;
}

/* Reset default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure body uses Roboto by default */
body {
  @apply font-roboto; /* Set Roboto as the default font */
  min-height: 100vh;
  width: 100%;
  /* padding-top: 80px; Adjust this to match the navbar height */
}
@media (min-width: 1024px) {
  body {
    padding-top: 80px;
  }
}

/* Define font variables */
:root {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-roboto: "Roboto", sans-serif;
}

/* Apply Cormorant Garamond to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cormorant);
}

/* Hero section fixes */
.hero-section {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Ensures the image covers the full section */
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
